@font-face {
  font-family: 'Edu NSW ACT Foundation';
  src: url(/fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}

html, body{
  min-height: 100vh;
  font-family: 'Edu NSW ACT Foundation', Tahoma, Sans-Serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

body {
  background: url(images/bg.jpg) no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: purple;
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;

  padding: 40px 20px;
  margin-right: 0;

  border: 1px solid purple;
  border-radius: 5px;
  box-shadow: inset 0 0 0.8em purple;

  background-color: rgb(128, 0, 128, 0.6);
}

label {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: large;
}

input:focus {
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em purple;
}

input:invalid:focus {
  box-shadow: inset 0 0 0.5em darkred;
}

form>div>div {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  flex-basis: content;
}

form>button {
  width: 150px;
  height: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: purple;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0.5em black;
  font-family: 'Edu NSW ACT Foundation', Tahoma, Sans-Serif;
  font-weight: bold;
  font-size: 1.1rem;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

form>p{
  float: left;
  background-color: rgb(128, 0, 128, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 0.8em purple;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}