@font-face {
  font-family: 'Edu NSW ACT Foundation';
  src: url(/fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}

html, body{
  min-height: 100vh;
  font-family: 'Edu NSW ACT Foundation', Tahoma, Sans-Serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

body {
  background: url(images/bg.jpg) no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;

  padding: 40px 20px;
  margin-right: 0;

  border: 1px solid darkgrey;
  border-radius: 5px;
  box-shadow: inset 0 0 0.5em;

  background-color: rgb(215, 220, 220, 0.8);
}

input {
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

form>div>div {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  flex-basis: content;
}

form>button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: purple;
  border-radius: 5px;
  font-family: 'Edu NSW ACT Foundation', Tahoma, Sans-Serif;
  font-weight: bold;
  font-size: 1.1rem;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

p{
  float: left;
  margin-left: 10px;
}